<div id="<%= dom_id work_test %>">
  <p>
    <strong>Date:</strong>
    <%= work_test.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= work_test.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= work_test.end_time %>
  </p>

  <p>
    <strong>Actual working time:</strong>
    <%= work_test.actual_working_time %>
  </p>

</div>
