<h1>TAシフト割当画面</h1>

<body>        
    <table>
      <thead>
        <tr>
            <th>年度</th>
            <th>学期</th>
            <th>科目番号</th>
            <th>授業科目名</th>
            <th>担当教員</th>
            <th>TA割り当て可能総時間</th>
            <th>備考</th>
            <th>割り当て済み時間</th>
        </tr>
      </thead>
      <tbody>
		 <% course = @course %>
        <tr>
            <td><%= course.year%></td>
            <td><%= course.term%></td>
            <td><%= course.number%></td>
            <td><%= course.name%></td>
            <td><%= course.instructor%></td>
            <td><%= course.time_budget%></td>
            <td><%= course.description%></td>
            <td>0</td>
        </tr>     
      </tbody>
    </table>
</body>

<p><%= link_to '科目一覧画面', '/courses/index' %></p>
<p><%= link_to '帳票表示画面', '/show_reports/index' %></p>
